.card__largura{
    max-width: 18rem;
}

.imagem__carrossel__um{
    object-fit: cover;
    object-position: 0 80%;
    height: 400px;
}

.imagem__carrossel__dois{
    object-fit: cover;
    height: 400px;
}
.fonte__titulo{
    font-family: 'Pacifico', cursive;
}

.cor__especial{
     color: darkred!important;
}

.botao__cor__especial{
    background-color: darkred;
    color: white;
}

.borda__cor__especial{
    border-color: darkred;
}

.card__posicao__imagem{
    object-fit: cover;
    /* object-position: 0 80%; */
    height: 200px;
}

